.user-info-wrapper {
  background-color: #F2F2F2;
  border-radius: 5px;
}

.greetings {
  display: flex;
  align-items: center;

  font-size: 20px;

  padding-left: 25px;
  padding-top: 25px;
  padding-bottom: 25px;
}

.basic-info-wrapper {
  padding-left: 25px;
}

.basic-info {
  display: relative;

  padding-left: 25px;
  padding-top: 25px;
  padding-bottom: 25px;
  font-size: 18px;
  line-height: 30px;
}